/* Matrix Theme */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

#matrix {
    display: none;
}

#setMatrix {
    text-decoration: none;
}

.matrix *::selection {
    background: limegreen;
    color: #000;
}

body.matrix,
.matrix textarea,
.matrix input {
    background: #000;
    color: limegreen;
}

.matrix input::placeholder,
.matrix .ticket,
.matrix a,
.matrix .ticket a {
    color: limegreen;
}

.matrix input {
    border: solid 2px limegreen;
}

.matrix .ticket {
    background: #111;
}

.matrix h1,
.matrix h2 {
    font-family: 'Major Mono Display', monospace;
}

.matrix .createdTooltip:focus {
    border: solid 7px limegreen;
    animation: matrix-pulse 0.5s;
}

@keyframes matrix-pulse{
    0% {box-shadow: 0 0 0 0px hsla(115, 100%, 50%, 0.5);}
    100% {box-shadow: 0 0 0 35px hsla(115, 100%, 50%, 0);}
}

/* End Matrix Theme */