/* Matrix Theme */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

#matrix {
    display: none;
}

#setMatrix {
    text-decoration: none;
}

body.matrix,
.matrix textarea,
.matrix input {
    background: #000;
    color: limegreen;
}

.matrix input::placeholder,
.matrix .ticket,
.matrix a,
.matrix .ticket a {
    color: limegreen;
}

.matrix input {
    border: solid 2px limegreen;
}

.matrix .ticket {
    background: #111;
}

.matrix h1,
.matrix h2 {
    font-family: 'Major Mono Display', monospace;
}

/* End Matrix Theme */